.topnav {
    background-color: whitesmoke;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: gray;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 10px;
}

.body {
    flood-opacity: 0%;
}